<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Reader's plug</title>
</head>

<body>

    <div class="container my-4">

         <h2 class="my-4 text-center">Reader's plug</h2>

    

        <div class="alert alert-success my-4" role="alert">

            <div class="container">
                <div class="content">

                    <h1>Dataset</h1>
                    <p>
                        This dataset contains plot summaries for 3,000 books extracted from Wikipedia, along with aligned metadata from Freebase, including Book name, Genre, Summary. </p>

                    <hr>

                    <h1>How it works</h1>

                    <p>
                        Simply paste a book summary of your choice and the NLP model will decipher what genre the book is
                    </p>
                    <p>

                    </p>
                    <p>
                        Your novel will be sorted into one of the following genre's : Fantasy, Science fiction, Crime fiction, Historical novel, Horror, Thriller
                    </p>

                    
                    <p>

                    </p>


                    
                    <h3> Try it out with this example </h3>

                    The following example is illustrated using Dan Brown's <em>The Da Vinci Code</em>.
                    <p>

                    </p>
                    <h4>Book metadata</h4>
                    <table border="1" width="90%">
                        <tbody>
                           
                            <tr>
                                <td>Book title</td>
                                <td>The Da Vinci Code</td>
                            </tr>
                            <tr>
                                <td>Book author</td>
                                <td>Dan Brown</td>
                            </tr>
                            <tr>
                                <td>Publication date</td>
                                <td>2006-05-17</td>
                            </tr>
                            <tr>
                                <td>Genres</td>
                                <td>Mystery, Detective fiction, Conspiracy fiction, Thriller</td>
                            </tr>
                        </tbody>
                    </table>

                    <h4>Plot summary</h4>
                    While in Paris on business, Harvard symbologist Robert Langdon receives an urgent late-night phone call: the elderly curator of the Louvre has been murdered inside the museum. Near the body, police have found a baffling cipher. While working to solve the enigmatic riddle, Langdon is stunned to discover it leads to a trail of clues hidden in the works of Da Vinci -- clues visible for all to see -- yet ingeniously disguised by the painter.

Langdon joins forces with a gifted French cryptologist, Sophie Neveu, and learns the late curator was involved in the Priory of Sion -- an actual secret society whose members included Sir Isaac Newton, Botticelli, Victor Hugo, and Da Vinci, among others.

In a breathless race through Paris, London, and beyond, Langdon and Neveu match wits with a faceless powerbroker who seems to anticipate their every move. Unless Langdon and Neveu can decipher the labyrinthine puzzle in time, the Priory's ancient secret -- and an explosive historical truth -- will be lost forever.

                </div>
            </div>

        </div>

        <!-- Form -->

        <div></div>

        <h2 class="my-4 text-center">Reader's plug</h2>

        <form class="my-4" action="/" method="POST">
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Enter the Summary of the Book</label>
                <textarea class="form-control" id="summary" name="summary" rows="3"></textarea>
            </div>

            <!-- button -->
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Predict</button>
            </div>

        </form>

        {%if showresult%}
            
            <div class = "container my-4">
              
               <div class="alert alert-success" role="alert">

                    <p>Your Summary : {{text}}...</p>
                
                    <p>Predicted Genre for the summary is : <span style = "color:red;font-size:1 rem;">{{genre}}</p>
                    <hr>

                </div>
            </div>
        {%endif%}


    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>